.card {
  width: 325px;
  height: 328px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px;
}

.card__title {
  position: absolute;
  top: 15px;
  margin: 0;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.card__image {
  width: 100%;
  object-fit: cover;
  border-radius: 1px;
}
