.header {
  display: flex;
}

.header__logo {
  margin-right: 24px;
}

.header__add-clothes-btn {
  margin-left: auto;
  margin-right: 20px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 10px;
  gap: 20px;
  background: transparent;
  border: none;
}

.header__username {
  margin-right: 20px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
}

.header__place {
  margin: 20px;
}

.header__dateTime {
  margin: 0;
  padding: 0;
}
